# actionlib
addict
angles
anyio
argon2-cffi
argon2-cffi-bindings
attrs
backcall
beautifulsoup4
bleach
bondpy
bottle
brotlipy
camera-calibration
#camera-calibration-parsers
#catkin
ccimport
chardet
charset-normalizer
click
cmake
colorama
comm
conan
ConfigArgParse
#controller-manager
#controller-manager-msgs
cumm
cumm-cu113
cv-bridge
cycler
Cython
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
#diagnostic-analysis
#diagnostic-common-diagnostics
#diagnostic-updater
distro
dynamic-reconfigure
easydict
ecos
einops
entrypoints
exceptiongroup
fasteners
fastjsonschema
filelock
fire
Flask
fsspec
gazebo-plugins
gazebo-ros
gencpp
geneus
genlisp
genmsg
gennodejs
genpy
gps-common
grpcio
grpcio-tools
huggingface-hub
idna
image-geometry
imageio
importlib-metadata
importlib-resources
interactive-markers
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
jinja2
joblib
joint-state-publisher
joint-state-publisher-gui
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lark
laser-geometry
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
message-filters
mistune
mkl-fft
mkl-service
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
node-semver
notebook
notebook-shim
numba
numpy
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
open3d
opencv-python
osqp
packaging
pandas
pandocfilters
parso
patch-ng
pccm
pexpect
pickleshare
Pillow
pkgutil-resolve-name
plotly
pluginbase
portalocker
prometheus-client
prompt-toolkit
psutil
ptyprocess
pybind11
pygame
pygments
PyJWT
pyparsing
pyquaternion
pyrsistent
python-dateutil
python-qt-binding
pytz
PyWavelets
PyYAML
pyzmq
qdldl
qt-dotgraph
qt-gui
qt-gui-cpp
qt-gui-py-common
qtconsole
QtPy
requests
resource-retriever
retrying
rosbag
rosboost-cfg
rosclean
roscreate
rosgraph
roslaunch
roslib
roslint
roslz4
rosmake
rosmaster
rosmsg
rosnode
rosparam
rospy
rosservice
rostest
rostopic
rosunit
roswtf
rqt-action
rqt-bag
rqt-bag-plugins
rqt-console
rqt-dep
rqt-graph
rqt-gui
rqt-gui-py
rqt-image-view
rqt-launch
rqt-logger-level
rqt-moveit
rqt-msg
rqt-nav-view
rqt-plot
rqt-pose-view
rqt-publisher
rqt-py-common
rqt-py-console
rqt-reconfigure
rqt-robot-dashboard
rqt-robot-monitor
rqt-robot-steering
rqt-runtime-monitor
rqt-rviz
rqt-service-caller
rqt-shell
rqt-srv
rqt-tf-tree
rqt-top
rqt-topic
rqt-web
rviz
safetensors
scikit-image
scikit-learn
scipy
scs
Send2Trash
sensor-msgs
shapely
smach
smach-ros
smclib
sniffio
soupsieve
spconv-cu113
tenacity
tensorboardX
termcolor
terminado
tf
tf-conversions
tf2-geometry-msgs
tf2-kdl
tf2-py
tf2-ros
tf2-sensor-msgs
threadpoolctl
tifffile
timm
tinycss2
topic-tools
torch==1.13.1
torch-geometric
torchaudio
torchvision==0.14.1
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
xacro
zipp